/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2020, 9:11:02 PM
    Author     : Alvins
*/
.parent{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30px;
    
}
.sidebar{
     -fx-background-color:  #a27452;
    -fx-background-radius: 5px 5px 0px 0px;
}

.sidebar-btn{
    -fx-background-color: transparent;
}
.sidebar-btn-icon{
    -fx-fill:#f3f3f3;
        
}
.sidebar-btn-text{
    -fx-text-fill:#7c7b8d;
}
.sidebar-btn:hover{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color:#ffffff;
    -fx-border-style: solid;
}
.sidebar-btn:hover.sidebar-btn-icon{
     -fx-fill:#ffffff;
}

.sidebar-btn:hover.sidebar-btn-text{
    -fx-text-fill:#ffffff;
}

